<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590068316269-5fcv7h7tatkgbu0oq9j7nv4c3vuin7a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590068316269-5fcv7h7tatkgbu0oq9j7nv4c3vuin7a0</string>
	<key>API_KEY</key>
	<string>AIzaSyAY7Y43s14bnol8-IJkcBFBrncZ2GD5txw</string>
	<key>GCM_SENDER_ID</key>
	<string>590068316269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFire</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-4ddd7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-4ddd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590068316269:ios:0afd0001ea7599cf4da764</string>
</dict>
</plist>